@media (max-width: 576px) {
  html {
    font-size: 6px;
  }

  h1 {
	  padding-top: 10vh;
	}

  h2 {
  	width: 75vw;
  	margin: auto;
  	padding-top: 13vh;
  }

  section {
  	padding-bottom: 8vh;
  }

  .general_text {
    line-height: 26px;
  }

	.helpful_content p {
	  font-size: 3.14rem;
	}

	#what_do_our_clients_say .client_container {
		min-width: 75vw;
	}

	.client_content p {
		width: 65%;
	}
}