@media (max-width: 992px) {
  html {
    font-size: 8px;
  }

  h1 {
	  padding-top: 20vh;
	}

  .general_text {
    line-height: 34px;
  }

	.helpful_content p {
	  font-size: 2.70rem;
	}

	.client_content img {
	  padding-top: 6vh;
	}	

	.client_content p {
		width: 80%;
	}
}