html {
  font-size: 10px;
}

body {
  background-color: #000;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 14px;
}

div.overflow_wrapper {
  overflow-x: hidden;
}

section {
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #fff;
}

h1 {
  font-size: 7rem;
  padding-top: 28vh;
}

h2 {
  font-size: 6rem;
}

img {
  max-width: 100%;
}

.general_text {
  width: 812px;
  margin: auto;
  font-size: 2.5rem;
  text-align: left;
  line-height: 42px;
  padding-top: 6vh;
}

.fullscreen_section {
  min-height: 100vh;
}

.partialscreen_section{
  min-height: 95vh;
}

#what_we_do {
  background: url("../assets/main-bg.png");
  background-size: cover;
  color: #fff;
}

#how_can_we_help h2 {
  color: #0b232d;
  padding-top: 13vh;
}

#how_can_we_help .helpful_items {
  padding-top: 6vh;
  width: 85vw;
  margin: auto;
  display: flex;
}

#how_can_we_help .helpful_item {
  background-color: #0b232d;
  position: relative;
  width: 30%;
  padding-bottom: 30%; 
  margin: 1.66%;
  overflow: hidden;
  outline: 5px solid white;
  outline-offset: -30px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(189,187,189,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(189,187,189,1);
  box-shadow: 0px 5px 5px 0px rgba(189,187,189,1);
}

.helpful_content {
  color: #fff;
  position: absolute;
  height: 80%; 
  width: 90%; 
  padding: 10% 5%;
}

.helpful_content img {
  padding-top: 20%;
}

.helpful_content p {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 31px;
  padding-top: 4%;
}

@media (max-width: 1320px) {
  .helpful_content p {
    line-height: 25px;
  }
}

#what_do_our_clients_say {
  background-color: #0b232d;
  color: #fff;
}

#what_do_our_clients_say h2 {
  padding-top: 15vh;
}

#what_do_our_clients_say .client_container {
  width: 40vw;
  height: 26vw;
  background-color: #3b525c;
  margin: auto;
  margin-top: 10vh;
}

#what_do_our_clients_say .client_content {
  display: inline-block;
  justify-content: center;
}

.client_content img {
  padding-top: 6vh;
  width: 28px;
  height: 46px;
}

.client_content p {
  padding-top: 5vh;
  font-size: 2.5rem;
  display: block;
  width: 72%;
  margin: auto;
}

.client_content hr {
  width: 72%;
  background-color: #fff;
  margin-top: 4vh;
}

.client_content p.quote_name {
  font-size: 3.2rem;
  font-weight: 700;
}

.client_content p.quote_jobtitle {
  padding-top: 1vh;
}

@media (max-width: 1320px) {
  .client_content img {
    padding-top: 3vh;
  }

  .client_content p {
    width: 80%;
  }
}

#our_story, #meet_the_team {
  color: #0b232d;
}

#our_story h2 {
  padding-top: 23vh;
}

#meet_the_team {
  padding-bottom: 0;
}

#meet_the_team ul, #meet_the_team ul:before, #meet_the_team ul:after, #meet_the_team li, #meet_the_team li:before, #meet_the_team li:after,#meet_the_team img, #meet_the_team img:before, #meet_the_team img:after, #meet_the_team span, #meet_the_team span:before, #meet_the_team span:after {
  box-sizing: border-box;
}


#meet_the_team ul {
  margin-top: 13vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 135vh;
}


#meet_the_team img {
  display: block;
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-gap: 0;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.grid li {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid li:hover ~ li:last-child:after,
.grid li:last-child:hover:after,
.grid li:hover ~ li:last-child:before,
.grid li:last-child:hover:before {
  opacity: 1;
  transition: 1s ease;
}

.grid li:last-child:after, .grid li:last-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  opacity: 0;
  transition: opacity 1s, transform 1s 1s, background 1s;
}

.grid li:last-child:after {
  mix-blend-mode: multiply;
  background: #aaafc3;
}

.grid li:last-child:before {
  backdrop-filter: grayscale(100%) blur(2px);
  -webkit-backdrop-filter: grayscale(100%) blur(2px);
}

.grid li:hover ~ li:last-child:after {
  background: #aaafc3;
}

.grid li:last-child:hover:after {
  background: #aaafc3;
}

.grid {
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(3, 45vh);
}

.grid li:last-child:after, .grid li:last-child:before {
  left: 100%;
  transform: translate3d(-100%, -100%, 0);
}

.grid li:nth-child(1):hover ~ li:last-child:after, .grid li:nth-child(1):hover ~ li:last-child:before {
  transform: translate3d(-400%, -200%, 0);
}

.grid li:nth-child(2):hover ~ li:last-child:after, .grid li:nth-child(2):hover ~ li:last-child:before {
  transform: translate3d(-300%, -200%, 0);
}

.grid li:nth-child(3):hover ~ li:last-child:after, .grid li:nth-child(3):hover ~ li:last-child:before {
  transform: translate3d(-200%, -200%, 0);
}

.grid li:nth-child(4):hover ~ li:last-child:after, .grid li:nth-child(4):hover ~ li:last-child:before {
  transform: translate3d(-100%, -200%, 0);
}

.grid li:nth-child(5):hover ~ li:last-child:after, .grid li:nth-child(5):hover ~ li:last-child:before {
  transform: translate3d(-400%, -100%, 0);
}

.grid li:nth-child(6):hover ~ li:last-child:after, .grid li:nth-child(6):hover ~ li:last-child:before {
  transform: translate3d(-300%, -100%, 0);
}

.grid li:nth-child(7):hover ~ li:last-child:after, .grid li:nth-child(7):hover ~ li:last-child:before {
  transform: translate3d(-200%, -100%, 0);
}

.grid li:nth-child(8):hover ~ li:last-child:after, .grid li:nth-child(8):hover ~ li:last-child:before {
  transform: translate3d(-100%, -100%, 0);
}

.grid li:nth-child(9):hover ~ li:last-child:after, .grid li:nth-child(9):hover ~ li:last-child:before {
  transform: translate3d(-400%, 0%, 0);
}

.grid li:nth-child(10):hover ~ li:last-child:after, .grid li:nth-child(10):hover ~ li:last-child:before {
  transform: translate3d(-300%, 0%, 0);
}

.grid li:nth-child(11):hover ~ li:last-child:after, .grid li:nth-child(11):hover ~ li:last-child:before {
  transform: translate3d(-200%, 0%, 0);
}

.grid li:last-child:hover:after, .grid li:last-child:hover:before {
  transform: translate3d(-100%, 0%, 0);
}

.description {
  font-size: 2.5rem;
  position: absolute;
  display: block;
  right: 2rem;
  left: 2rem;
  text-align: center;
  top: 50%;
  width: 80%;
  margin: auto;
  color: white;
  z-index: 100;
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition: 0.3s 0s;
}

li:hover .description {
  opacity: 1;
  transition: 0.6s 0.3s;
}